
.sidebar{
    background-color: rgb(25, 25, 103);
    color: whitesmoke;
    font-weight: 700;
    font-size: large;
    text-align: center;
    width: 170px;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}
.listgroup{
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    margin-top : 10px;
    font-size: 17px;
    
}
.NameStore{
    height: 50px;
    margin-bottom: 0;
    display: flex;
        align-items: center;
        justify-content: center;
}
.NameStore:hover{
    background-color: rgb(34, 34, 139);
}
