
.sidebar{
    background-color: rgb(25, 25, 103);
    color: whitesmoke;
    font-weight: 700;
    font-size: large;
    text-align: center;

    padding: 20px;
}
.list-group{
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    margin : 10px 0px;
}
.trending{
    color: white;
    background-color: rgb(25, 25, 103);
    font-size: small;
    padding: 0 10px;
    font-weight: 500;
    margin: 3px 0;
    justify-content: center;
}
.cost{
    font-size: larger;
}